<div class="upload-wrapper">
  <!-- Left Panel -->
  <div class="left-panel">
    <img src="assets/image.png" alt="Leaf Illustration" class="illustration" />
  </div>

  <!-- Right Panel -->
  <div class="right-panel">
    <div class="content">
      <h1 class="title">GreenEye</h1>
      <p class="subtitle">Upload images to find plant species</p>

      <div
        class="upload-zone"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
      >
      <input type="file" #fileInput (change)="onFileSelected($event)" hidden />

        <ng-container *ngIf="!imageUrl; else imagePreview">
            <label class="upload-btn">
            <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Add image</button>
            </label>
          <p class="drop-text">or drop it here</p>

        </ng-container>

        <ng-template #imagePreview>
          <img [src]="imageUrl" alt="Preview" class="preview-image" />
          <button class="remove-btn" mat-icon-button color="warn" (click)="removeImage()">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </div>

      <p class="format-info" [hidden]="isInvalidFormat"> 
        {{ supportedFormatsMessage }}
      </p>      
      <p class="error-text" [hidden]="!isInvalidFormat"> 
        {{ supportedFormatsMessage }}
      </p>

    <div class="button-container">
    <button
        *ngIf="imageUrl"
        mat-raised-button
        color="accent"
        (click)="submit()"
        [disabled]="isLoading"
    >
        <mat-icon *ngIf="isLoading" class="spinner">autorenew</mat-icon>
        <span *ngIf="!isLoading">Upload</span>
    </button>
    </div>
    </div>
  </div>
</div>
